 *{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

.wrapper{
	display: flex;
	background-image: url("../img/background.jpg");
	background-size: cover;
	justify-content: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.card{
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	height: 316px;
	width: 340px;
	margin-top: 100px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	background-color: rgb(255 255 255);
}

.navigation{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6px;
	width: 50px;

}

.round{
	height: 6px;
	width: 6px;
	border-radius: 100%;
	background-color: rgb(200 200 200);

}

.header{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid rgb(200 200 200);
	height: 100px;
	width: 100%;
	font-family: Roboto;
	font-size: x-large;
	font-weight: 500;
	text-transform: uppercase;
}

.image{
	height: 25px;
	width: 45px;
}

.text{
	margin-left: 20px;
}

.item{
	display: flex;
	border-bottom: 1px solid rgb(200 200 200);
	height: 56px;
	width: 100%;
	font-family: Roboto;
	font-weight: 700;
	font-size: small;
	align-items: center;
	text-transform: uppercase;
	padding-left: 33px;
	padding-right: 33px;
}

.bottom{
	background-color: rgb(89 139 221);
	display: flex;
	font-family: Roboto;
	font-weight: 500;
	font-size: small;
	align-items: center;
	text-transform: uppercase;
	height: 56px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	justify-content: center;
}

.group{
	display: flex;
	align-items: center;

}

.round.active{
	background-color: rgb(170 170 170);
}

.active{
	color: rgb(200 200 200);
}

.bottom.active{
	color: rgb(255 255 255);
}

.item.down{
	border-bottom: none;
}

.item.middle{
	display: flex;
	justify-content: space-between;
}

.galochka{

}

		







	


